{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/table26.css' %}"> 
</head>
<body>
    
    <form action="{% url 'create_table26' %}" method="post">
        <h1>
            Соглашения о сотрудничестве с организациями образования или научными или научно-образовательными или научно-производственными центрами (магистратура, докторантура)
        </h1>
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" class="btn">

    </form>

    <a href="{% url 'home' %}" class="back">Назад</a>

</body>
</html>
